[user]
   name = Alexis Kofman
   email = alexis.kofman@gmail.com

[filter "media"]
   required = true
   clean = git media clean %f
   smudge = git media smudge %f

[url "http://"]
   insteadOf = git://

[alias]
   logcat = !git --no-pager log -n 5 --pretty=oneline

[merge]
   tool = opendiff

[credential]
   helper = osxkeychain

[pager]
    diff = delta 
    log = delta
    reflog = delta
    show = delta

[delta]
    features = line-numbers decorations
    syntax-theme = Dracula

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28

[interactive]
    diffFilter = delta --color-only
